.myNav{
    background-color: #000839;
}
.heading{
    display: grid;
    margin-top:30px ;
    place-items: center;
}
.input{
    display: grid;
    place-items: center;
}
.completedClass{
    visibility: hidden;
}
.listDiv{
    margin-top: 20px;
}
.linkGit{
    font-family: Consolas;
    position: relative;
    color: #393e46;
    top: 50px;
    text-align: center;
    font-size: 2vw;
}
